/* id-based rule */
#bold { 
	font-weight: bold;
}
/* class-based rule */
.red { 
	color: red;
}

/* element-based or tag-based rule */
p {
	font-size: 1.2em;
	font-family: "Times New Roman", Times, serif;
	
}


body {
	text-align: center;

}

ul {
 display: inline-block;
  text-align: left;

}
