* {
	text-align: center;
	background-color: #B2BEB5;
	
}


p {
	font-size: 1.2em;
	font-family: "Times New Roman", Times, serif;
	color: white;
	
}

 #nav {
	list-style-type: none;
	margin: 0;
	padding: 0;
	background-color: #dddddd;
}


#navlist {
  float: left;
}

#navlink {
  display: block;
  padding: 8px;
}

ul {
	display: inline-block;
	color: white;
}

a {
 color: red;

}

h2 {
	color: white;

}

h1 {
	color: white;

}


