body {
	align-text: center;
	
	
}


p {
	font-size: 1.2em;
	font-family: "Times New Roman", Times, serif;
	
}

 #nav {
	list-style-type: none;
	margin: 0;
	padding: 0;
	background-color: #dddddd;
}


#navlist {
  float: left;
}

#navlink {
  display: block;
  padding: 8px;
}

ul {
	display: inline-block;
}

a {
 color: red;

}
